<ul class="list">
    <li><a href="#"><span class="twj twj-fw twj-gi-home"></span>Home</a></li>
    <li><a href="#"><span class="twj twj-fw twj-fa-cubes"></span>Activities</a></li>
    <li><a href="#"><span class="twj twj-fw twj-fa-group"></span>Contacts</a></li>
    <li><a href="#"><span class="twj twj-fw twj-fa-share-alt"></span>Communication</a></li>
</ul>
