<ul class="list">
    <li><a href="#">Help<span class="twj twj-fw twj-fa-question-circle"></span></a></li>
    <li><a href="#">View<span class="twj twj-fw twj-fa-play-circle"></span></a></li>
    <li><a href="#">Edit<span class="twj twj-fw twj-el-file-edit-alt"></span></a></li>
    <li><a href="#">Cancel<span class="twj twj-fw twj-io-close-circled"></span></a></li>
    <li><a href="#">Add<span class="twj twj-fw twj-io-android-add-circle"></span></a></li>
    <li><a href="#">Remove<span class="twj twj-fw twj-io-android-remove-circle"></span></a></li>
    <li><a href="#">Save<span class="twj twj-fw twj-io-checkmark-circled"></span></a></li>
</ul>
