---
title: Home
---
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="intro-text">
                    <span class="name">Methodology &amp; Toolbox to build modular modern applications</span>
                    <span class="skills">Open-Source project under Apache License 2.0</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="intro-text">
                    <span class="info">Written in Java, HTML5 and Javascript loaded into an OSGi container.</span>
                    <span class="info">Using Felix, Restlet, Bootstrap, JQuery, AngularJs, Cordova and ...</span>
                    <span class="info">Built with Ant, Maven, Grunt and Bower.</span>
                    <span class="info">Tested with JUnit, PaxExam and Karma.</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <span class="text-center">
                    <img data-src="holder.js/480x160/gray/auto" style="display: block; max-width:480px; max-height:160px; width: 100% !important; height: auto !important;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=" data-holder-rendered="true" />
                </span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="name"><strong>More than a technical stuff!</strong> Tawja suggest a way to work in a professional context.</p>
            </div>
        </div>
    </div>
</header>

<!-- Introduction Title Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section"><a id="Introduction" class="anchor">&nbsp;</a>Introduction</h2>
            </div>
        </div>
    </div>
</section>

<!-- Introduction Graph Section -->
<section class="section-01-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>...</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Introduction Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div>
                    <p>
                        {{> snippet-lorem-paragraph }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Links Title Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section"><a id="Links" class="anchor">&nbsp;</a>Links</h2>
            </div>
        </div>
    </div>
</section>

<!-- Links Graph Section -->
<section class="section-02-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>...</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Links Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div>
                    <p>
                        {{> snippet-lorem-paragraph }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Samples Title Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section"><a id="Samples" class="anchor">&nbsp;</a>Samples</h2>
            </div>
        </div>
    </div>
</section>

<!-- Samples Graph Section -->
<section class="section-03-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p><strong>...</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Samples Content Section -->
<section class="section-white-shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div>
                    <p>
                        {{> snippet-lorem-paragraph }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
