<div class="container">
    <div class="row">
        <div class="footer-col col-md-4">
            <h4 class="section">Support</h4>
            <ul class="list-inline">
                <li>
                    <a href="#" class="btn-social btn-outline"><i class="twj twj-fw twj-fa-question"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-social btn-outline"><i class="twj twj-fw twj-fa-bug"></i></a>
                </li>
                <li>
                    <a href="#" class="btn-social btn-outline"><i class="twj twj-fw twj-gi-envelope"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-col col-md-4">

        </div>
        <div class="footer-col col-md-4">
            <h4 class="section">About</h4>
            <p>
                <!-- Legal Notice  -->
                <a href="legal-notice-en.html" class="btn btn-sm btn-default">
                    Notice
                </a>
                <span class="small" style="color:#666;">
                    {{mavenProperties.version}}
                </span>
            </p>
        </div>
    </div>
</div>
