<div class="menu-bar-container yamm">
    <div id="menu-bar" class="navbar navbar-default navbar-top-panel">
        <div class="">
            <div id="menu-scroll-target" class="container">
                <!--
                <button type="button" class="navbar-toggle collapsed toc-navbar-toggle" data-toggle="collapse" data-target="#toc-navbar">
                    <span class="sr-only">Toggle Shortcuts</span>
                    <span class="twj twj-fw twj-fa-bookmark"></span>
                </button>
                -->
                <!--
                <button type="button" class="navbar-toggle collapsed menu-navbar-toggle" data-toggle="collapse" data-target="#menu-navbar">
                    <span class="sr-only">Toggle Sitemap</span>
                    <span class="twj fa-fw twj-fa-sitemap"></span>
                </button>
                -->
                <div class="collapse navbar-collapse  menu-navbar-collapse" id="menu-navbar">
                    <ul id="menu" class="nav navbar-nav">
                        <!-- Classic list -->
                        <li class="dropdown yamm-fw twj-01"><a href="#" data-toggle="dropdown" class="dropdown-toggle">List<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <!-- Content container to add padding -->
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-2 col-sm-offset-2 ">
                                                <h5>Section Title</h5>
                                                <ul class="list-unstyled">
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                </ul></div>
                                            <div class="col-sm-2">
                                                <h5>Section Title</h5>
                                                <ul class="list-unstyled">
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <h5>Section Title</h5>
                                                    </li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <ul class="col-sm-2 list-unstyled">
                                                    <li>
                                                        <h5>Section Title</h5>
                                                    </li>
                                                    <li>List Item</li>
                                                    <li>List Item</li>
                                                    <li>
                                                        <ul>
                                                            <li><a href="#"> Link Item </a></li>
                                                            <li><a href="#"> Link Item </a></li>
                                                            <li><a href="#"> Link Item </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Accordion demo -->
                        <li class="dropdown  yamm-fw twj-02"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Accordion<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div id="accordion" class="col-sm-8 col-sm-offset-2 panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in">
                                                        <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse">
                                                        <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse">
                                                        <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Classic dropdown -->
                        <li class="dropdown yamm-fw twj-03"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a tabindex="-1" href="#"> Action </a></li>
                                <li><a tabindex="-1" href="#"> Another action </a></li>
                                <li><a tabindex="-1" href="#"> Something else here </a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"> Separated link </a></li>
                            </ul>
                        </li>
                        <!-- Pictures -->
                        <li class="dropdown yamm-fw twj-04"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pictures<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>
                                            <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190"></a></div>                    </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Classic dropdown -->
                        <li class="dropdown yamm-fw twj-05"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a tabindex="-1" href="#"> Action </a></li>
                                <li><a tabindex="-1" href="#"> Another action </a></li>
                                <li><a tabindex="-1" href="#"> Something else here </a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"> Separated link </a></li>
                            </ul>
                        </li>
                        <!-- Classic dropdown -->
                        <li class="dropdown yamm-fw twj-06"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a tabindex="-1" href="#"> Action </a></li>
                                <li><a tabindex="-1" href="#"> Another action </a></li>
                                <li><a tabindex="-1" href="#"> Something else here </a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"> Separated link </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
