<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse top-navbar-collapse" id="top-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll">
            <a href="index.html"><span class="twj twj-gi-home"></span>Home</a>
        </li>
    </ul>
</div>
